<div class="row">
  <div class="col">
    <span id="books-show" style="font-size: 3.5em;">
      <i class="fa fa-book" style="color: crimson;"></i> Books
    </span>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row">
  <div class="col">
    <div id="author-select"></div>
    <button id="getBobCobbBooks" class="btn btn-primary">Show Books for Bob Cobb</button>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row">
  <div class="col">
    <div id="books-list"></div>
    <h5 id='no-books-found' style="display: none;">No Books found for this Author.</h5>
  </div>
</div>